<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="un.dez.easybuy.entity.News">
  	<select id="load" parameterType="int" resultType="News">
  		select * from easybuy_news where enId = #{enId}
  	</select>
  	<select id="load1" resultType="News">
  		select * from easybuy_news
  	</select>
  	<select id="load7" parameterType="int" resultType="News">
  		select * from easybuy_news order by enId desc limit 0,#{count}
  	</select>
  	<select id="pagelist_page" parameterType="Map" resultType="News">
  		select * from easybuy_news order by enId desc 
  		limit #{pageOffset} , #{pageSize}
  	</select>
  		<select id="pagelist_count" parameterType="Map" resultType="int">
  		select count(*) from easybuy_news 
  	</select>
  	
  	<insert id="add" parameterType="News">
  		insert into easybuy_news(entitle,enContent,enCreateTime) values
  		(#{enTitle},#{enContent},now())
  	</insert>
  	<update id="update" parameterType="News">
  		update easybuy_news set entitle = #{enTitle},enContent = #{enContent}
  		where enId = #{enId}
  	</update>
  	<delete id="del">
  		delete from easybuy_news where enId = #{enId}
  	</delete>
  </mapper>